h1 {
  font-size: 50px;
  color: green;
  margin: 0;
}

h2 {
  color: green;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}
.position {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  color: green;
}

.background {
  width: 600px;
  height: 375px;
  border-radius: 20px;
  background-image: url(/src/images/background.jpg);
  background-size: cover;
}

.current-list {
  list-style-type: none;
  font-size: 20px;
  margin: -99px auto;
  margin-left: 390px;
  font-weight: 500;
}
